.formcontato__textarea {
	margin-top: 25px;
	resize: none;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--cor-do-texto);
	color: var(--cor-do-texto);
	background-color: #2d2f31;
	padding-left: 5px;
}