.experience__description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: .85rem;
	gap: 15px;
}
@media screen and (max-width: 768px) {
	.experience__description {
		padding: .75rem 0;
		height: 25vh;
		width: 95%;
		margin: auto;
	}
}